<div class="commentBg">


    <h1>GET</h1>
    <div class="horizontalCard" *ngFor='let com of lstComments'>
        <h3>{{com.name}}</h3>
        <p>{{com.body}}</p>
        <div class="bottomSection">
            <div>ID : {{com.id}}</div>
            <div>POST ID : {{com.postId}}</div>
            <div>EMAIL : {{com.email}}</div>
        </div>
    </div>


    <h1>GET With Params</h1>
    <div class="horizontalCard" *ngFor='let post of lstPosts'>
        <h3>{{post.title}}</h3>
        <p>{{post.body}}</p>
        <div class="bottomSection">
            <div>ID : {{post.id}}</div>
            <div>USER ID : {{post.userId}}</div>
        </div>
    </div>


    <h1>POST</h1>
    <div class="horizontalCard">
        <h3>{{returnedPostedPost.title}}</h3>
        <p>{{returnedPostedPost.body}}</p>
        <div class="bottomSection">
            <div>ID : {{returnedPostedPost.id}}</div>
            <div>USER ID : {{returnedPostedPost.userId}}</div>
        </div>
    </div>


    <h1>PUT</h1>
    <div class="horizontalCard">
        <h3>{{returnedPutPost.title}}</h3>
        <p>{{returnedPutPost.body}}</p>
        <div class="bottomSection">
            <div>ID : {{returnedPutPost.id}}</div>
            <div>USER ID : {{returnedPutPost.userId}}</div>
        </div>
    </div>


</div>